<div >

<h3>Titulos work  {{change_name()}}
</h3>
<div  style="border:4px solid red;  padding:20px ; background-color: aqua;" >
    <input name="txtEad" type="number">
    <br>
    <input type="text" [(ngModel)]="valor">
    <br>
    <button id="btnSend" (click)="btnsendclick(valor)"> send</button>
</div>
<div>
<p>{{valor}}</p>
<p>{{_persona.nombre}}</p>
<img src={{_persona.url}} style="width: 400px;height: 200px; ">
<br>
<iframe  src="https://www.youtube.com/embed/kN5MijTlK6s" title="los refranes no son &quot;verdad&quot;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
</div>