*{
    background-color: black;
}
#nuevo_div{
    padding: 100px;
    background-color: transparent;
    border-radius: 25%;
    border: solid black 5px;
}
h1{
    background: transparent;
    font-style: italic;
    color: black;
}